* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-container{
  margin-top: 20px;
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px;
  user-select: none;
}

ul  li{
  list-style-type: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  border-radius: 40px;
  transition-duration: 0.4s;
}

ul li.clicked {
  text-decoration: line-through;
}

ul li:hover {
  background-color: #edeef0;
}


ul li.clicked::before {
  background-image: url('../../../images/checked.png');
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url('../../../images/unchecked.png');
  background-size: cover;
  background-position: center;
  top: 20px;
  left: 8px;
}

.xButton {
  flex:  1;
  border: none;
  outline: none;
  padding: 16px 50px;
	background-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	font-family: "Pacific";
	padding: 1px;
	transition-duration: 0.4s;
}

.xButton:hover {
	background-color: #ffc600;
}

.container {
  width : 100%;
  min-height : 100vh;
  padding: 10px;
}

.app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

input{
  flex:  1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}

#subbutton{
  flex:  1;
  border: none;
  outline: none;
  padding: 16px 50px;
	background-color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
  transition-duration: 0.9s;
  border-style: solid;
	border-color: #222222;

}

#subbutton:hover{
	background-color: #ffc600;
}

