<!--
<form (ngSubmit)="test_ing()">
    <mat-form-field class="example-full-width" >
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="dateControl">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker></mat-datepicker>
    </mat-form-field>
  <button type="submit">Submit</button>
</form>
-->

<div class="container">
  <div class="app">
    <div class="row">
      <form [formGroup]="todo_item" (ngSubmit)="onSubmit()" style="
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        "
        autocomplete="off"
      >
        <!--  <label for="item" style="
            padding-left: 70px;
            color: red;
            ">TODO </label>
        -->
          <br>
          <input type="text" id="item" name="item" formControlName="item" placeholder="Task.." (input)="onItemInput($event)">
        <!-- to be used after having functionality
        <div *ngIf="!todo_item.valid" style="
          color: red;
          font-size: 10px;
          ">Min length should be 5</div>
        -->
          <p style="margin-right: 15px;" clickable (click)="toggle_datePicker()">📅</p>
      <p>
        <button [disabled]="!todo_item.valid" type="submit" id="subbutton" >Add</button>
      </p>
      </form>

    <form (ngSubmit)="test_ing()" class="example-full-width date-picker">
        <mat-form-field  >
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="dateControl">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      <button type="submit">Submit</button>
    </form>

    </div>

    <div
      style="
      display: flex;
      flex-direction: column;
      align-items: center;
      "
      class="list-container"
    >
    <ul>
      <li *ngFor="let item of todo_list; let i = index" [ngClass]="item.is_done" class="here" clickable (click)="handleClick(item)">
        {{item.todo_item}}
        <button class="xButton" (click)="deleteItem(i)">🗑</button>
        <p style="font-size: 15px;
           color: #777777;
          "
           *ngIf="item.date"
            > {{item.date}} </p>
      </li>
    </ul>
    </div>
  </div>
</div>
