<div class="container">
  <div class="app">
    <div class="row" *ngIf="form_submitted">
      <div class = "form-input" *ngIf="form_submitted">
      <form [formGroup]="todo_item" (ngSubmit)="onSubmit()" style="
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        "
        autocomplete="off"
      >
          <br>
          <input type="text" id="item" name="item" formControlName="item" placeholder="Task name" style="background: #f5f5f5; margin-bottom: 25px;" >
          <mat-form-field >
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
          </mat-form-field>
          <p>
            <button [disabled]="!todo_item.valid" type="submit" id="subbutton" style="margin-top: 25px;" >Add</button>
          </p>
      </form>
          <button id="subbutton" style="margin-top: 25px; align-self: center;" (click)="hide()">Cancel</button>
      </div>
    </div>

    <div style="display: flex; flex-direction: column;">
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="filter_setToday()">Due today</button>
        <button mat-menu-item (click)="filter_setCompleted()">Completed</button>
        <button mat-menu-item (click)="filter_setNotcompleted()">Not completed</button>
        <button mat-menu-item (click)="unfilter()">Remove filters</button>
      </mat-menu>
      <p style="font-size: 15px; color: #777777; text-align: center;" *ngIf="Filter != 'not_filtered'">{{Filter}}</p>
    </div>

    <div class="app-body" *ngIf="!form_submitted">
      <div
        style="
        display: flex;
        flex-direction: column;
        align-items: center;
        "
        class="list-container"
      >
      <button id="addbutton" (click)="unhide()" style="margin-bottom: 25px;">+</button>
      <button mat-button [matMenuTriggerFor]="menu" style="font-size: 17px;">Filter Y</button>

      <ul *ngIf="Filter === 'not_filtered'">
        <li *ngFor="let item of todo_list; let i = index" [ngClass]="item.is_done" class="here" clickable (click)="handleClick(item)">
          {{item.todo_item}}
          <button class="xButton" (click)="deleteItem(i)">🗑</button>
          <p style="font-size: 15px;
             color: #777777;
            "
             *ngIf="item.date"
              > {{item.date}} </p>
        </li>
      </ul>

      <div *ngIf="Filter === 'Today'">
        <ul *ngFor="let item of todo_list; let i = index">
            <li *ngIf="item.date == null" [ngClass]="item.is_done" (click)="handleClick(item)">{{item.todo_item}}
            <button class="xButton" (click)="deleteItem(i)">🗑</button>
            </li>
        </ul>
      </div>

      <div *ngIf="Filter === 'Completed'">
        <ul *ngFor="let item of todo_list; let i = index">
            <li *ngIf="item.is_done" [ngClass]="item.is_done" (click)="handleClick(item)">{{item.todo_item}}
            <button class="xButton" (click)="deleteItem(i)">🗑</button>
            <p style="font-size: 15px;
               color: #777777;
              "
               *ngIf="item.date"
                > {{item.date}} </p>
            </li>
        </ul>
      </div>

      <div *ngIf="Filter === 'Not_Completed'">
        <ul *ngFor="let item of todo_list; let i = index">
            <li *ngIf="!item.is_done" [ngClass]="item.is_done" (click)="handleClick(item)">{{item.todo_item}}
            <button class="xButton" (click)="deleteItem(i)">🗑</button>
            <p style="font-size: 15px;
               color: #777777;
              "
               *ngIf="item.date"
                > {{item.date}} </p>
            </li>
        </ul>
      </div>


      </div>
    </div>
  </div>
</div>
