<div class="container">
  <div class="app">
    <div class="row">
      <form [formGroup]="todo_item" (ngSubmit)="onSubmit()" style="
        align-items: center;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        ">
        <!--  <label for="item" style="
            padding-left: 70px;
            color: red;
            ">TODO </label>
        -->
          <br>
          <input type="text" id="item" name="item" formControlName="item" placeholder="Task..">
        <!-- to be used after having functionality
        <div *ngIf="!todo_item.valid" style="
          color: red;
          font-size: 10px;
          ">Min length should be 5</div>
        -->
      <p>
        <button [disabled]="!todo_item.valid" type="submit" id="subbutton" >Submit</button>
      </p>
      </form>
    </div>

    <div
      style="
      display: flex;
      flex-direction: column;
      align-items: center;
      "
      class="list-container"
    >
    <ul>
      <li *ngFor="let item of todo_list; let i = index" [ngClass]="item.is_done" clickable (click)="handleClick(item)">
        {{item.todo_item}}
        <button class="xButton" (click)="deleteItem(i)">x</button>
      </li>
    </ul>
    </div>
  </div>
</div>

<!--
@for (item of todo_list; track item){
<p> <input type="checkbox" (click)="handleClick(item)"> {{item}} </p>
}
-->
